/* Effects all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

/* NAVIGATION BAR -----------------------------------*/
.navbar { /* Banner */
    /*background: hsl(231, 23%, 12%);*/
    background-image: linear-gradient(90deg, hsl(235, 7%, 35%), #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 80px;
    font-size: 1.2rem;
    top: 0%;
    z-index: 999
}
.navbar_div { /* Section container */
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 1;
}
#navbar_title { /* Title */
    display: flex;
    align-items: center;
    font-size: 2rem;
    /*background-image: linear-gradient(to top, #9da09f 5%, #11221e 60%);*/
    background-color:#fff;
    background-size: 100%;
    -webkit-background-clip: text; /* Extend the background onto the text then clip it for gradient effect */
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer; /* Hand symbol when hovering */
    text-decoration: none;
}
#navbar_title:hover {
    font-size: 2.1rem;
    margin-left: -3px;
    margin-right: 3px;
    transition: all 0.1s linear;
}
.navbar_items { /* List of menu options */
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item { /* The menu options themselves */
    height: 80px;
    color:#ffffff;
}
.navbar_item_link { /* The links contained within the menu options */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_item_link:hover{ 
    color: #cecdcd;
    transition: all 0.3s ease;
}

/* Alternate styling when in hamburger menu (mobile mode) */
@media screen and (max-width: 960px) {
    .navbar {
        background: hsl(231, 23%, 12%);
        z-index: 999;
    }
    .navbar_div {
        display:flex;
        justify-content: space-between;
        height: 60px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    #navbar_title {
        padding-left: 25px;
    }
    .navbar_items {
        background: hsl(231, 23%, 12%);
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 20vh;
        z-index: -1;
    }
    .navbar_items.active {
        background: hsl(231, 23%, 12%);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 20vh;
        font-size: 1.5rem;
        z-index: -1;
    }
    .navbar_item {
        width: 100%;
    }
    .navbar_item_link {
        display: table;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .navbar_hamburger .bar {
        background: #fff;
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    #navbar_hamburger {
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(5%, 30%);
    }
    #navbar_hamburger.is-active .bar:nth-child(2) { /* Rotate two of the hamburger bars into an X, make the other transparent */
        opacity: 0;
    }
    #navbar_hamburger.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #navbar_hamburger.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



.gallery {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(90deg, hsl(231, 9%, 15%), #342a6d);
}

.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotate(0deg);
    transition: transform 0.7s;
}

.image-container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    cursor: pointer;
    transform: rotateY(calc(var(--i) * 60deg)) translateZ(400px);
    transition: transform 0.3s ease;
}

.flex-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
}


.image-container span img {
    width: 85%;
    transition: transform 0.3s ease;
}

.image-container span img:hover {
    width: 100%;
    transition: all 0.3s linear;
}


.project_desc {
    background-image: linear-gradient(-45deg, hsl(0, 0%, 29%), #7c7c7c);
    border-color: #cecdcd;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 95%;
    font-size: 50%;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
}

.popup-img {
    /*width: 300px;
    height: 300px;*/
    margin-top: 5%;
    margin-left: -4%;
    background-color: rgb(82, 80, 80);
    border-radius: 15px;

}

.btn img {
    position: absolute;
    width: 5%;
}


#prev_img {
    left: 30%;
}

#next_img {
    right: 30%;
}

#btn:hover {
    filter: brightness(1.5);
}