/* Effects all elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body{
    background-image: linear-gradient(45deg, hsl(235, 43%, 38%), #342a6d);
    /*background-color:#9c9c9c*/
}

/* NAVIGATION BAR -----------------------------------*/
.navbar { /* Banner */
    /*background: hsl(231, 23%, 12%);*/
    background-image: linear-gradient(90deg, hsl(235, 7%, 35%), #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 80px;
    font-size: 1.2rem;
    top: 0;
    z-index: 999
}
.navbar_div { /* Section container */
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 1;
}
#navbar_title { /* Title */
    display: flex;
    align-items: center;
    font-size: 2rem;
    /*background-image: linear-gradient(to top, #9da09f 5%, #11221e 60%);*/
    background-color:#fff;
    background-size: 100%;
    -webkit-background-clip: text; /* Extend the background onto the text then clip it for gradient effect */
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer; /* Hand symbol when hovering */
    text-decoration: none;
}
#navbar_title:hover {
    font-size: 2.1rem;
    margin-left: -3px;
    margin-right: 3px;
    transition: all 0.1s linear;
}
.navbar_items { /* List of menu options */
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item { /* The menu options themselves */
    height: 80px;
    color:#ffffff;
}
.navbar_item_link { /* The links contained within the menu options */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar_item_link:hover{ 
    color: #cecdcd;
    transition: all 0.3s ease;
}

/* Alternate styling when in hamburger menu (mobile mode) */
@media screen and (max-width: 960px) {
    .navbar {
        background: hsl(231, 23%, 12%);
        z-index: 999;
    }
    .navbar_div {
        display:flex;
        justify-content: space-between;
        height: 60px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    #navbar_title {
        padding-left: 25px;
    }
    .navbar_items {
        background: hsl(231, 23%, 12%);
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 20vh;
        z-index: -1;
    }
    .navbar_items.active {
        background: hsl(231, 23%, 12%);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 20vh;
        font-size: 1.5rem;
        z-index: -1;
    }
    .navbar_item {
        width: 100%;
    }
    .navbar_item_link {
        display: table;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .navbar_hamburger .bar {
        background: #fff;
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    #navbar_hamburger {
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(5%, 30%);
    }
    #navbar_hamburger.is-active .bar:nth-child(2) { /* Rotate two of the hamburger bars into an X, make the other transparent */
        opacity: 0;
    }
    #navbar_hamburger.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #navbar_hamburger.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* section for projects */
.projects_paragraph{
    color:#fff
}


/* ABOUT SECTION ------------------------------------*/
.about {
    display: grid;
    align-items: center;
    /*background-image: linear-gradient(90deg, hsl(231, 9%, 15%), #342a6d);*/
    justify-content: center;
    width: 100%;
    height: 100%;
}
.about_heading {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: 2rem 0rem 2rem 0rem;
}
.about_text {
    display: flex;
    align-items: left;
}
.about_paragraph {
    width: 50%;
    color: #ffffff;
    white-space: pre-line;
    padding: 0rem 2rem 0rem 2rem;
}
#profile_image img {
    position: absolute;
    right: 4%;
    width: 45%;
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 15%;
}

/* -- gallery of personal pictures -- */

.container {
    width: 60%;
    margin: 2rem auto; 
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }

  .gallery__img:hover{
    scale: 105%;
    transition: all 0.3s linear;
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }